.heading
{
    margin-top: 5px ;
    display: flex;
    justify-content: center;
}
.resources{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:30;
font-size: 18px;

margin: 30px;
    font-weight: lighter;
}